@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

html, body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.66;
  letter-spacing: 0.05em;
  color: #565656;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 84px;
  position: relative;
  padding-left: 155px;
}
.header .nav .burger {
  display: none;
}
.header .nav .burger-img {
  display: none;
  cursor: pointer;
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
  list-style: none;
}
.header .menu__link {
  font-size: 14px;
  line-height: 1.2;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}
.header .menu__link::after {
  content: "";
  width: 75%;
  height: 1px;
  background: #000000;
  position: absolute;
  left: 12%;
  top: 20px;
  opacity: 0;
}
.header .menu__item:hover .menu__link::after {
  opacity: 1;
}
.header .checkbox {
  opacity: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
  right: 13px;
}
.header .search::after {
  content: url(../assets/img/search.png);
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 1px;
  right: 13px;
}
.header .search-wrapper {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.header .search-input {
  border: none;
  border-bottom: 1px solid #000000;
  opacity: 0;
}
.header .search-input:focus {
  outline: none;
}
.header .checkbox:checked ~ .search-input {
  opacity: 1;
}

.banner {
  padding-top: 100px;
  padding-bottom: 380px;
  background-image: url(../assets/img/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .title-1 {
  max-width: 770px;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.33;
  color: #000000;
}

.blog article:nth-of-type(1) {
  margin-bottom: 50px;
}

.blog article:nth-of-type(2) {
  flex-direction: row-reverse;
}

.title-2 {
  margin: 0 0 50px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.33;
  letter-spacing: 0.05em;
  color: #000000;
}

.blog-article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.blog-article__descr {
  width: 50%;
}
.blog-article__suptitle, .blog-article__subtitle {
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
.blog-article__suptitle {
  margin: 0 0 30px;
}
.blog-article__subtitle {
  margin: 0 0 50px;
}
.blog-article__title {
  margin: 0 0 15px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #000000;
}
.blog-article__text span::after {
  content: url(../assets/img/arrow.png);
}
.blog-article__image {
  width: 50%;
}
.blog-article__img {
  object-fit: cover;
  width: 100%;
}

.section {
  margin-bottom: 90px;
}
.section__title {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #000000;
}
.section__header {
  margin-bottom: 50px;
}
.section__link {
  padding: 5px 43px 5px 0;
  background: none;
  border: none;
  letter-spacing: 0.1em;
  color: #7B7B7B;
  position: relative;
}
.section__link::after {
  content: url(../assets/img/arrow.png);
  position: absolute;
  right: 0;
}
.section__link_grey {
  padding: 13.5px 45px;
  background: #565656;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.link-wrapper {
  text-align: center;
  margin-top: 50px;
}

.article {
  width: 33%;
}
.article__img {
  max-width: 570px;
  margin-bottom: 25px;
}
.article__image {
  object-fit: cover;
  width: 100%;
}
.article__suptitle, .article__subtitle {
  margin: 0 0 25px;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}
.article__title {
  margin: 0 0 20px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.1em;
  color: #000000;
}
.article_big {
  width: 50%;
}

.d-flex_start {
  align-items: flex-start;
}

.veronalabs__title {
  margin: 0;
  max-width: 470px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #000000;
}
.veronalabs__title span::after {
  content: url(../assets/img/arrow.png);
  display: block;
}
.veronalabs__descr {
  max-width: 470px;
}
.veronalabs__text {
  font-size: 19px;
}
.veronalabs__text:first-of-type {
  margin-bottom: 40px;
}

.footer {
  padding-top: 70px;
  padding-bottom: 30px;
  background: #F4F4F4;
}
.footer__title {
  margin: 0 0 30px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.33;
  color: #000000;
}
.footer__text {
  letter-spacing: 0.1em;
  color: #000000;
}
.footer__text:first-of-type {
  margin-bottom: 15px;
}
.footer .socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 23px;
  list-style: none;
}
.footer .socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
}
.footer .socials__link:hover {
  background: #565656;
  border-color: #565656;
}
.footer .socials__link:hover .socials__icon {
  fill: #fff;
}
.footer .socials__icon {
  fill: #565656;
}
.footer__copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #000000;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .header {
    padding: 20px 0;
  }
  .header .nav {
    flex-direction: row-reverse;
    gap: 40px;
  }
  .header .nav .burger-img {
    position: relative;
    top: 0;
    display: inline-block;
    width: 34px;
    height: 2px;
    background: #000;
    vertical-align: middle;
  }
  .header .nav .burger-img::before, .header .nav .burger-img::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #000;
    top: 10px;
  }
  .header .nav .burger-img::after {
    top: -10px;
  }
  .header .menu {
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 36px;
    right: 0;
    width: 150px;
    background-color: #fff;
    box-shadow: 1px 3px 7px 1px #202323;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0;
  }
  .header .menu__item {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #565656;
  }
  .header .menu__item:last-child {
    border-bottom: none;
  }
  .burger:checked ~ .menu {
    opacity: 1;
  }
  .burger:checked ~ .burger-img::after {
    opacity: 0;
  }
  .burger:checked ~ .burger-img {
    transform: rotate(45deg);
    width: 25px;
    top: 0;
  }
  .burger:checked ~ .burger-img::before {
    transform: rotate(90deg);
    top: 0;
  }
  .banner {
    padding: 30px 0 190px;
  }
  .banner .title-1 {
    font-size: 36px;
    line-height: 1.39;
  }
  .section {
    margin-bottom: 70px;
  }
  .blog-article {
    gap: 20px;
  }
  .blog-article__image {
    width: 100%;
  }
  .blog-article__descr {
    width: 100%;
  }
  .blog-article__suptitle {
    margin-bottom: 20px;
  }
  .blog-article__subtitle {
    margin-bottom: 30px;
  }
  .flex {
    flex-wrap: wrap;
  }
  .nowrap {
    flex-wrap: nowrap;
  }
  .article {
    width: 100%;
  }
  .article-tab {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  .article-tab:nth-of-type(2) {
    flex-direction: row-reverse;
  }
  .article__img {
    margin-bottom: 0;
    width: 50%;
  }
  .article__img_big {
    width: 100%;
    margin-bottom: 20px;
  }
  .text-tab {
    width: 50%;
  }
  .d-block {
    display: block;
  }
  .veronalabs__title {
    margin-bottom: 50px;
  }
  .veronalabs__descr {
    text-align: end;
    margin-left: auto;
  }
  .footer {
    padding: 50px 0;
  }
  .footer__flex {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 300px;
  }
  .banner {
    padding: 70px 0 230px;
    background-position-x: 48%;
  }
  .banner .title-1 {
    font-size: 30px;
    line-height: 1.67;
  }
  .section .title-2 {
    margin: 0 auto 50px;
    text-align: center;
  }
  .blog-article {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .blog-article__img {
    max-width: 300px;
  }
  .article-tab {
    flex-wrap: wrap;
  }
  .article__img {
    width: 100%;
  }
  .text-tab {
    width: 100%;
  }
  .section__header {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .flex {
    gap: 50px;
  }
  .nowrap {
    flex-wrap: wrap;
  }
  .veronalabs__title {
    margin-bottom: 35px;
  }
  .veronalabs__descr {
    text-align: start;
  }
}