@import 'normalize';
@import 'mixins';
@import 'vars';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

html, body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.66;
    letter-spacing: 0.05em;
    color: #565656;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px
}

.d-flex {
    @include flex(space-between, center, 0);
}

.flex {
    @include flex (space-between, flex-start, 30px)
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;

    .nav {
        @include flex(space-between, center, 84px);
        position: relative;

        .burger {
            display: none;
        }

        .burger-img {
            display: none;
            cursor: pointer;
        }
    }

    .menu {
        @include flex(space-between, center, 42px);
        list-style: none;
        
        &__link {
            font-size: 14px;
            line-height: 1.2;
            color: #000000;
            text-transform: uppercase;
            position: relative;

            &::after {
                content: '';
                width: 75%;
                height: 1px;
                background: #000000;
                position: absolute;
                left: 12%;
                top: 20px;
                opacity: 0;
            }
        }

        &__item:hover .menu__link::after {
            opacity: 1;
        }
    }
}

.banner {
    padding-top: 100px;
    padding-bottom: 380px;
    background-image: url(../assets/img/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    

    .title-1 {
        max-width: 770px;
        margin: 0;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 1.33;
        color: #000000;
    }
}

.blog article:nth-of-type(1) {
    margin-bottom: 50px;
}

.blog article:nth-of-type(2) {
    flex-direction: row-reverse;
}

.title-2 {
    margin: 0 0 50px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.33;
    letter-spacing: 0.05em;
    color: #000000;
}


.blog-article {
    @include flex(flex-start, center, 30px);

    &__descr {
        width: 50%;
    }

    &__suptitle, &__subtitle {
        font-weight: 400;
        letter-spacing: 0.1em;
        color: #7B7B7B;
    }

    &__suptitle {
        margin: 0 0 30px;
    }

    &__subtitle {
        margin: 0 0 50px;
    }

    &__title {
        margin: 0 0 15px;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 23px;
        font-weight: 500;
        letter-spacing: 0.1em;
        color: #000000;
    }

    &__text span::after {
        content: url(../assets/img/arrow.png);
    }

    &__image {
        width: 50%;
    }

    &__img {
        object-fit: cover;
        width: 100%;
    }
}

.section {
    margin-bottom: 90px;

    &__title {
        margin: 0;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: #000000;
    }

    &__header {
        margin-bottom: 50px;
    }

    &__link {
        padding: 5px 43px 5px 0;
        background: none;
        border: none;
        letter-spacing: 0.1em;
        color: #7B7B7B;
        position: relative;
    
        &::after {
            content: url(../assets/img/arrow.png);
            position: absolute;
            right: 0;
        }
    }

    &__link_grey {
        padding: 13.5px 45px;
        background: #565656;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
}

.link-wrapper {
    text-align: center;
    margin-top: 50px;
}

.article {
    width: 33%;

    &__img {
        max-width: 570px;
        margin-bottom: 25px;
    }

    &__image {
        object-fit: cover;
        width: 100%;
    }
    &__suptitle, &__subtitle {
        margin: 0 0 25px;
        font-size: 12px;
        line-height: 1.66;
        letter-spacing: 0.1em;
        color: #7B7B7B;
    }

    &__title {
        margin: 0 0 20px;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 0.1em;
        color: #000000;
    }

    &_big {
        width: 50%;
    }
}

.d-flex_start {
    align-items: flex-start;
}

.veronalabs {
    &__title {
        margin: 0;
        max-width: 470px;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 23px;
        font-weight: 400;
        letter-spacing: 0.1em;
        color: #000000;

        & span::after {
            content: url(../assets/img/arrow.png);
            display: block;
        }
    }

    &__descr {
        max-width: 470px;
    }

    &__text {
        font-size: 19px;
    
        &:first-of-type {
            margin-bottom: 40px;
        }
    }
}

.footer {
    padding-top: 70px;
    padding-bottom: 30px;
    background: #F4F4F4;

    &__title {
        margin: 0 0 30px;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 1.33;
        color: #000000;
    }

    &__text {
        letter-spacing: 0.1em;
        color: #000000;

        &:first-of-type {
            margin-bottom: 15px;
        }
    }

    .socials {
        @include flex (flex-end, center, 23px);
        list-style: none;
    
        &__link {
            @include flex(center, center, 0);
            width: 50px;
            height: 50px;           
            border: 1px solid #565656;

            &:hover {
                background: #565656;
                border-color: #565656;

                .socials__icon {
                    fill: #fff;
                }
            }
        }

        &__icon {
            fill: #565656;
        }
    }

    &__copyright {
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.1em;
        color: #000000;
    }
}

@media  screen and (max-width:992px) {
    .container {
        max-width: 700px;
    }

    .header {
        padding: 20px 0;

        .nav {
            flex-direction: row-reverse;
            gap: 40px;

            .burger-img {
                position: relative;
                top: 0;
                display: inline-block;
                width: 34px;
                height: 2px;
                background: #000;
                vertical-align: middle;
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    background: #000;
                    top: 10px;
                }
                &::after {
                    top: -10px;
                }
            }
        }

        .menu {
            flex-direction: column;
            gap: 0;
            position: absolute;
            top: 36px;
            right: 0;
            width: 150px;
            background-color: #fff;
            box-shadow: 1px 3px 7px 1px #202323;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            opacity: 0;
    
            &__item {
                width: 100%;
                text-align: center;
                padding: 10px 0;
                border-bottom: 1px solid #565656;
                
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    .burger:checked ~ .menu {
        opacity: 1;
    }

    .burger:checked ~ .burger-img::after {
        opacity: 0;
    }

    .burger:checked ~ .burger-img {
        transform: rotate(45deg);
        width: 25px;
        top: 0;
    }

    .burger:checked ~ .burger-img::before {
        transform: rotate(90deg);
        top: 0;
    }

    .banner {
        padding: 30px 0 190px;

        .title-1 {
            font-size: 36px;
            line-height: 1.39;
        }
    }

    .section {
        margin-bottom: 70px;
    }

    .blog-article {
        gap: 20px;

        &__image {
            width: 100%;
        }

        &__descr {
            width: 100%;
        }

        &__suptitle {
            margin-bottom: 20px;
        }

        &__subtitle {
            margin-bottom: 30px;
        }
    }

    .flex {
        flex-wrap: wrap;
    }

    .nowrap {
        flex-wrap: nowrap;
    }

    .article {
        width: 100%;
    }

    .article-tab {
        @include flex(space-between, flex-start, 20px);

        &:nth-of-type(2) {
            flex-direction: row-reverse;
        }
    }

    .article__img {
        margin-bottom: 0;
        width: 50%;
    }

    .article__img_big {
        width: 100%;
        margin-bottom: 20px;
    }

    .text-tab {
        width: 50%;
    }

    .d-block {
        display: block;
    }

    .veronalabs__title {
        margin-bottom: 50px;
    }

    .veronalabs__descr {
        text-align: end;
        margin-left: auto;
    }

    .footer {
        padding: 50px 0;
    }

    .footer__flex {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }
}

@media  screen and (max-width:576px) {
    .container {
        max-width: 300px;
    }

    .banner {
        padding: 70px 0 230px;
        background-position-x: 48%;

        .title-1 {
            font-size: 30px;
            line-height: 1.67;
        }
    }

    .section .title-2 {
        margin: 0 auto 50px;
        text-align: center;
    }

    .blog-article {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        &__img {
            max-width: 300px;
        }
    }

    .article-tab {
        flex-wrap: wrap;
    }

    .article__img {
        width: 100%;
    }

    .text-tab {
        width: 100%;
    }

    .section__header {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .flex {
        gap:  50px;
    }

    .nowrap {
        flex-wrap: wrap;
    }

    .veronalabs__title {
        margin-bottom: 35px;
    }

    .veronalabs__descr {
        text-align: start;
    }
}



